.co-layout__body {
  @media (min-width: $screen-md-min) {
    &__block-importance {
      width: 4%;
    }
  }

  @media (min-width: $screen-md-min) {
    &__block-container {
      width: 96%;
    }
  }

  &__content {
    background-color: $co-color__fg__back;
    padding-top: 45px;
  }
}
