.co-layout__header {
  height: $navbar-height;
  margin-bottom: $navbar-margin-bottom;

  &__navbar-img--brand {
    height: $line-height-computed;
  }
  &__search-field {
    width: $co-form__width--medium;
  }
}
