.co-layout__tabs {
  background-color: $co-color__bg__back;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  &::before,
  &::after {
    content: " ";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.co-layout__tabs__item {
  float: left;
  margin-bottom: -1px;
  position: relative;
  display: block;
  max-width: 200px;
}

.co-layout__tabs__item__link {
  color: $co-color__fg__text--lower;
  border-bottom: 4px solid $co-color__bg__back;
  border-top: 4px solid $co-color__bg__back;
  background-color: $co-color__fg__back;
  margin-right: 2px;
  position: relative;
  display: block;
  padding: 10px 30px 10px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &--first {
    padding: 10px 15px;
  }
  &:hover,
  &:focus {
    //reset bootstrap
    text-decoration: none;
    color: $co-color__fg__text;
  }

  &--active {
    color: $co-color__fg__text--higher;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
  }
}

.co-layout__tabs__item__del-btn {
  position: absolute;
  right: 10px;
  top: 14px;
}
