// --- base ---
// colors
$gray-base:     #ffffff;
$gray-lighter:  darken($gray-base, 13.5%);
$gray-light:    darken($gray-base, 20%);
$gray:          darken($gray-base, 33.5%);
$gray-dark:     darken($gray-base, 46.7%);
$gray-darker:   darken($gray-base, 93.5%);
$brand-primary: $co-color__primary;

// fonts
$font-family-sans-serif: open_sansregular, "Helvetica Neue", Helvetica, Arial, sans-serif;


// --- layout ---
$body-bg: $co-color__bg__back;
$text-color: $co-color__bg__text;


// --- components ---
$border-radius-base: 0px;
$border-radius-small: 0px;
$border-radius-large: 0px;

$component-active-bg: $co-color__primary;
$component-active-color: $co-color__fg__text;

// dropdown
$dropdown-bg: $co-color__fg__back;
$dropdown-link-hover-bg: $co-color__primary;
$dropdown-divider-bg: $co-color__fg__back;

$dropdown-link-color: $co-color__fg__text--higher;
$dropdown-link-disabled-color: $co-color__fg__text--lower;
$dropdown-link-hover-color: $co-color__fg__text;

// navbar
$navbar-inverse-bg: $co-color__fg__back;
$navbar-inverse-link-active-bg: $co-color__primary--lower;
$navbar-inverse-link-hover-bg: $co-color__primary;

// badge
$badge-bg: $co-color__fg__back--high;
$badge-color: $co-color__fg__text--low;
