.row-table {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    display: table-cell;
    float: none;
    vertical-align: top;
  }
}

@mixin row__all-cols--modifier($modifier) {
  &#{$modifier} {
    @extend .row-table;

    & > [class^="col-"],
    & > [class*=" col-"] {
      @content;
    }
  }
}

.row {
  @include row__all-cols--modifier(__vertical-align) {
    vertical-align: middle;
  }
}
