$co-avatar__size--small: 2rem;
$co-avatar__size--medium: 4rem;
$co-avatar__size--large: 8rem;

@mixin co-avatar--size($modifier, $size) {
  &#{$modifier} {
    width: $size;
    height: $size;
  }

  &#{$modifier} &__letter::before {
    line-height: $size;
    font-size: $size * 0.75;
  }
}

.co-avatar {
  display: inline-block;
  vertical-align: middle;
  position: relative;

  background-color: $co-color__fg__back;
  border-radius: 2px;
  overflow: hidden;

  &__letter::before {
    display: block;

    color: #ffffff;
    text-align: center;
  }

  // default
  @include co-avatar--size('', $co-avatar__size--medium);

  // modifiers
  @include co-avatar--size(--small, $co-avatar__size--small);
  @include co-avatar--size(--medium, $co-avatar__size--medium);
  @include co-avatar--size(--large, $co-avatar__size--large);
}
