.co-letter--none::before {
  background-color: SteelBlue;
  content: ".";
}
.co-letter--plus::before {
  background-color: DarkCyan;
  content: "+";
}
.co-letter--A::before {
  background-color: CornflowerBlue;
  content: "A";
}
.co-letter--B::before {
  background-color: SlateGray;
  content: "B";
}
.co-letter--C::before {
  background-color: Peru;
  content: "C";
}
.co-letter--D::before {
  background-color: Tomato;
  content: "D";
}
.co-letter-E-::before {
  background-color: FireBrick;
  content: "E";
}
.co-letter--F::before {
  background-color: ForestGreen;
  content: "F";
}
.co-letter--G::before {
  background-color: DarkOrchid;
  content: "G";
}
.co-letter-H::before {
  background-color: DarkSlateBlue;
  content: "H";
}
.co-letter--I::before {
  background-color: PaleVioletRed;
  content: "I";
}
.co-letter--J::before {
  background-color: MediumOrchid;
  content: "J";
}
.co-letter--K::before {
  background-color: DarkOliveGreen;
  content: "K";
}
.co-letter--L::before {
  background-color: LightSkyBlue;
  content: "L";
}
.co-letter--M::before {
  background-color: DarkKhaki;
  content: "M";
}
.co-letter--N::before {
  background-color: OliveDrab;
  content: "N";
}
.co-letter--O::before {
  background-color: MediumPurple;
  content: "O";
}
.co-letter--P::before {
  background-color: CadetBlue;
  content: "P";
}
.co-letter--Q::before {
  background-color: SaddleBrown;
  content: "Q";
}
.co-letter--R::before {
  background-color: MidnightBlue;
  content: "R";
}
.co-letter--S::before {
  background-color: Teal;
  content: "S";
}
.co-letter--T::before {
  background-color: Turquoise;
  content: "T";
}
.co-letter--U::before {
  background-color: OrangeRed;
  content: "U";
}
.co-letter--V::before {
  background-color: SeaGreen;
  content: "V";
}
.co-letter--W::before {
  background-color: Olive;
  content: "W";
}
.co-letter--X::before {
  background-color: DarkMagenta;
  content: "X";
}
.co-letter--Y::before {
  background-color: Indigo;
  content: "Y";
}
.co-letter--Z::before {
  background-color: Chocolate;
  content: "Z";
}
