.co-list {
  border-top: 1px solid $body-bg;

  &__item {
    padding: 10px 0;

    background-color: $co-color__fg__back;
    border-bottom: 1px solid $body-bg;
    color: $co-color__fg__text;
  }

  a.co-list__item,
  .co-list__item--link {
    cursor: pointer;

    &:hover {
      background-color: $co-color__fg__back--high;
      color: $co-color__fg__text--high;
    }
    &:active {
      background-color: $co-color__fg__back--low;
      color: $co-color__fg__text--low;
    }
  }
}
