.co-search-field {
    position: relative;

    &__input {
        @extend .co-text-field;
    }

    & &__input {
        display: inline-block;
        width: 100%;
        padding-right: 32px;
    }

    &__button {
        @extend .glyphicon;
        @extend .glyphicon-search;

        position: absolute;
        right: 0;

        height: 32px;
        width: 32px;

        border: 0;
        background: transparent;
        color: $co-color__fg__text--lower;

        &:hover {
            color: $co-color__fg__text--high;
        }
        &:active {
            color: $co-color__fg__text--lower;
        }
        &:focus {
            outline: 0;
        }
    }
}
