.co-messages__message {
  &__header {
    padding: ($co-margin / 2) $co-margin;

    background: $co-color__fg__back--higher;
    border-bottom: 1px solid $co-color__fg__border--lower;
  }

  &__contact-icon {
    margin-right: $co-margin;
  }

  &__summary {
    cursor: pointer;
    color: $co-color__fg__text--low;
    font-size: .75rem;

    &:hover {
      color: $co-color__fg__text--high;
    }
  }

  &__body {
    padding: 0 $co-margin;
    white-space: pre-wrap;
  }
}
