.co-threads__thread {
  &--unread {
    position: relative;
    background-color: $co-color__fg__back--higher;
    color: $co-color__fg__text--higher;

    &::before {
        content: "";
        display: block;

        position: absolute;
        top: 0;
        bottom: 0;
        width: 3px;

        background: $co-color__primary;
    }
  }

  &__nb-messages {
    &.badge {
      background: $co-color__bg__back;
      color: $co-color__bg__text;
    }
  }
}
